[submodule "dex2jar"]
	path = dex2jar
	url = git@github.com:pxb1988/dex2jar.git
[submodule "tachiwebui/src/main/js/tachiweb-react"]
	path = tachiwebui/src/main/js/tachiweb-react
	url = https://github.com/Ligerx/TachiWeb-React
[submodule "bootui/tachiweb-bootstrap"]
	path = bootui/tachiweb-bootstrap
	url = git@github.com:TachiWeb/TachiWeb-Bootstrap.git
