/** Override material select styles to make dropdown visible on blue header **/
.mdl-selectfield__label {
    color: rgb(255, 255, 255);
}

.mdl-selectfield__box {
    border-bottom: 1px solid rgb(255, 255, 255);
}

.mdl-selectfield__box > i {
    color: rgb(255, 255, 255);
}

/** MDL style override **/
#search_box_wrapper {
    margin-left: 16px;
    width: calc(100% - 325px);
}

#search_box_wrapper > .mdl-textfield__input {
    border-bottom: 1px solid rgb(255, 255, 255);
}

#search_box_wrapper > .mdl-textfield__label {
    color: rgb(255, 255, 255);
}

/** Loading dialog **/
#login_loading_spinner {
    display: none;
    position: relative;
    margin-top: 10px;
}

/** Show source select **/
.mdl-layout__header {
    overflow: visible; /** Source dropdown breaks without this for some weird reason **/
}

.page-content {
    position: absolute;
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;
}

.manga-wrapper {
    flex-grow: 1;
    overflow: auto;
    float: left;
    /* Uncomment to put filters alongside manga grid instead of on top of it */
    /*width: calc(100% - 300px);*/
    width: calc(100% - 40px);
    transition: width 0.5s;
}

/* Uncomment to put filters alongside manga grid instead of on top of it */
/*.page-content-filters-closed .manga-wrapper {
    width: calc(100% - 40px);
}*/

.page-content-filters-open #filter_menu {
    width: 300px;
}

.page-content-filters-open #filters_menu_content {
    opacity: 1;
}

#filter_menu {
    float: right;
    position: absolute;
    top: 0;
    right: 0;
    width: 40px;
    height: 100%;
    transition: width 0.5s;
    background-color: white;
    z-index: 1000;
}

#hide_filter_menu_btn {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    cursor: pointer;
    border-right: 1px solid #BDBDBD;
    /*transition: background-color 0.25s;*/
}

#hide_filter_menu_btn:hover {
    /*background-color: #F5F5F5;*/
}

#hide_filter_menu_btn_txt {
    opacity: 0.87;
    writing-mode: tb-rl;
    transform: rotate(180deg);
    text-align: center;
    padding: 0 10px;
    height: 100%;
    width: 20px;
}

#filters_menu_content {
    position: absolute;
    left: 41px;
    right: 0;
    height: 100%;
    overflow: auto;
    opacity: 0;
    transition: opacity 0.5s;
    display: flex;
    flex-direction: column;
}

#filters_menu_top_row > button {
    display: inline-block;
    display: -moz-inline-box;
    *display: inline; /* For IE7 */
    zoom: 1; /* Trigger hasLayout */
    width: calc(49% - 16px);
    margin: 8px;
    text-align: center;
}

#filters_box {
    flex-grow: 1;
    overflow: auto;
    padding: 16px;
}

.filters-separator {
    height: 1px;
    background-color: black;
    opacity: 0.12;
}

.filters-textfield {
    width: 100%;
    margin-top: 0 !important;
}

.filters-textfield > .mdc-textfield__input {
    width: 100%;
}

.filters-select {
    width: 100%;
}

.filters-select-label {
    padding-right: 8px;
    padding-top: 10px;
}

.filters-select-wrapper {
    display: flex;
}

.filters-fullwidth {
    margin: 8px -16px;
}

.filters-group-header {
    padding: 8px;
    color: var(--mdc-theme-text-primary-on-primary);
    background-color: var(--mdc-theme-primary);
    cursor: pointer;
}

.filters-checkbox-wrapper {
    width: 100%;
}

.filters-group-icon {
    float: right;
    transition: all 0.25s;
}

.filters-group-icon-closed {
    transform: rotate(-90deg);
}

.filters-group-text {
    display: inline-block;
}