/** Tab transitions **/
.tab_panel {
    transition: all 0.25s;
    opacity: 0;
    pointer-events: none;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    height: 0;
}

.tab_panel.selected {
    opacity: 1;
    pointer-events: all;
    overflow: visible;
    height: 100%;
}

/** Header **/
#info_header {
    width: 100%;
    padding: 16px;
}

#cover_img {
    width: 20%;
}

#header_content {
    margin-left: 16px;
    margin-right: 16px;
    margin-bottom: 16px;
    width: calc(80% - 32px);
    float: right;
    word-break: break-all;
}

#fav_btn {
    float: right;
    margin-right: 16px;
    transform: translateY(-50%);
}

/** Description **/
#manga_desc_wrapper {
    margin: 16px;
    width: 100%;
    padding-right: 16px;
}

#manga_desc {
    margin-right: 32px;
}

/** Chapters **/
.chapter_entry {
    border-bottom: 1px solid #bdbdbd;
    padding: 8px;
    /** Hacks to add ripple **/
    height: auto;
    display: block;
    text-transform: none;
    line-height: inherit;
}

.chapter_title {
    font-size: 20px;
    float: left;
}

.chapter_row_bottom {
    position: relative;
    width: 100%;
}

.chapter_row_bottom_entry {
    display: inline-block;
    vertical-align: top;
}

.chapter_date {
    float: left;
}

.chapter_page {
    left: 0;
    position: absolute;
    color: grey;
    width: 100%;
    text-align: center;
}

.chapter_downloaded {
    color: green;
    float: right;
}

.dialog_spinner_wrapper {
    position: relative;
}

.chapter_buttons {
    position: absolute;
    height: 100%;
    width: 100%;
    pointer-events: none;
    top: 0;
    left: 0;
}

.chapter_button {
    pointer-events: none;
    opacity: 0;
    position: absolute;
    right: 0;
}